@model IEnumerable<DTO.EntityDTO.PostDTO>

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-grid">
    <div class="agile-grids">
        <!-- tables -->

        <div class="table-heading">
            <h2>Postlar</h2>
        </div>
        <div class="agile-tables">
            <div class="w3l-table-info">
                <a asp-controller="Admin" asp-action="PostAdd"
                   class="btn btn-primary">
                    + Yeni
                </a>
                <table id="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Foto</th>
                            <th>Başlıq</th>
                            <th>Mətn</th>
                            <th>Kateqoriya</th>
                            <th>Redaktə</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td><img src="~/WebImages/@item.Image2" style="width:200px; height:auto;" /></td>
                                <td>@item.Title</td>
                                <td>@item.Text</td>
                                <td>@item.CategoryName</td>
                                <td>
                                    <a asp-controller="Admin" asp-action="PostUpdate" asp-route-id="@item.Id"
                                       class="btn btn-primary" style="background-color:green;">
                                        Redaktə
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="Admin" asp-action="PostDelete" asp-route-id="@item.Id"
                                       class="btn btn-primary" style="background-color:red;">
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- //tables -->
    </div>
</div>

